<div class="container mb-5 mt-5">
  <div class="row align-items-center">
    <div class="col-md-6 text-center">
      <%= image_tag('field.jpg', size: "400x300") %>
    </div>
    <div class="col-md-6 text-center">
      <h2 class="mb-4">球場飯</h2>
      <p>当サイトは野球観戦とともに楽しむ「球場飯」に魅了される食通のコミュニティです。</p>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 text-center">
        <h2 class="mb-4">『球場飯』の目的</h2>
        <p>球場で提供される美味しい食べ物やドリンクの情報を共有し、野球ファンが最高の食体験を楽しめるようにサポートするサイトです。</p>
      </div>
      <div class="col-md-6 text-center">
        <%= image_tag('food.jpg', size: "400x300") %>
      </div>
    </div>
  </div>
</div>

<div class="container mb-5 mt-5">
  <div class="row align-items-center">
    <div class="col-md-6 text-center">
      <%= image_tag('ball.jpg', size: "400x300") %>
    </div>
    <div class="col-md-6 text-center">
      <h2 class="mb-4">最後に</h2>
      <p>『球場飯』の情報は、ユーザー様の投稿によって成り立っています。</p>
      <p>私たちは常に新しい球場やメニューを探索し、食文化の多様性を広めるために努力しています。皆さんもぜひ、球場飯を楽しみながら観戦をお楽しみください。</p>
    </div>
  </div>
</div>
